body{
    background-color: black;
    color: white;
    font-family: monospace;
}

h2{
    font-size: 50px;
    text-align: center;
}

.content{
    padding: 50px 0px;
    background-image: url(../asset/Img/OperatorBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content h2{
    margin-bottom: 50px;
}

.container{
    border: 1px solid rgba(255, 255, 255, .2);
    margin: 20px auto;
    text-align: center;
    width: 900px;
}

.layout1{
    text-align: right;
}

.layout1,.layout2{
    box-sizing: border-box;
    width: 50%;
    height: 200px;
    float: left;
}

.layout2{
    background-color: black;
    padding: 0px 20px;
    text-align: left;
    position: relative;
}

.layout2 p,.layout2 h4,.layout2 h3{
    margin: 0;
    position: absolute;
}

.layout2 p{
    font-size: 16px;
    font-weight: lighter;
    top: 55%;
}

.layout2 h3{
    top: 25%;
    font-weight: bold;
    font-size: 25px;
}

.layout2 h4{
    top: 13%;
    font-weight: lighter;
    font-size: 20px;
}

.clear{
    clear: both;
}

.middle{
    box-shadow: 0px 0px 15px rgba(54,169,224,1);
    background-color: black;
    text-align: center;
    padding: 20px;
}

.operator{
    padding: 0px;
    padding-top: 50px;
    background-image: url(../asset/Img/HomeBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.layout{
    margin: 0px auto;
    padding: 0;
    width: 900px;
    text-align: right;
    position: relative;
}

.operator h3{
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}

.c1{
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    text-align: left;
}

.c2{
    bottom: 0;
    right: 0;
    text-align: right;
}

.slider{
    width: 940px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
}

.slideImages{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 400%;
}

.image{
    float: left;
    list-style: none;
    width: 940px;
    height: auto;
}